*,
::before,
::after{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
#con{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    height: 100vh;
}
hr{
    background-color: black;
    border: none;
    height: 3px;
    padding: 3px;
    margin-top: 10px;
    margin-bottom: 4px;
}
nav{
    text-align: center;
    color: white;
    font-size: 1.5rem;
    background-color: 
    #0c4160;
    grid-column: 1;
    grid-row: 1;
}
nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    margin-top: 10%;
    transition: color;
    transition-duration: 1s;
    transition-property: all;
}
nav li{
    margin-top: 100px;
    list-style-type: none;
    padding: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    transition: all;
    transition-duration: 2s;
}
nav a:hover{
    background-color: #738fa7;
    padding-left: 30%;
    padding-right: 30%;
    padding: 20%;
   
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
}
nav a:checked{
  color: rgb(235, 25, 25);
}
nav img{
    margin-top: 50px;
    padding:5px;
   box-shadow: 0 0 10px black;
   background-color: black;
}
footer{
    border: 5px solid black;
    margin-top: 60%;
    width: 95%;
    margin-left: 1%;
 }
 #right{
    background: rgb(12,65,96);
    background: linear-gradient(90deg, rgba(12,65,96,1) 2%, rgba(7,19,48,1) 15%);
}
#right h1{
    color: white;
    font-size: 2.25rem;
    text-align: center;
   
}
#right h2{
    color: white;
    font-size: 1.5rem;
    text-align: center;
}
#right p{
    color: white;
    text-align: center;
    font-size: 1.5em;
    padding: 5px;
}
#right li{
    list-style-type: none;
    color: white;
    font-size: 1.5em;
  padding-left: 15px;
}
#res{
   
   background-color:#1a445c;
   border-radius: 10%;
   width: 90%;
   margin-left: 5%;
   margin-right: auto;
   margin-top:10px;
   box-shadow: 0px 0px 50px;
   
}
@media only screen and (max-width:300px){
    #con{
        display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    }
    #right{
        grid-column: 1;
        grid-row: 2;
    }
}